<%= form_for(album) do |f| %>
    
    <h4>album</h4>
    <%= f.label :title %><br/>
    <%= f.text_field :title %><br/ ><br/>

    <%= f.label :release_year %><br/>
    <%= f.number_field  :release_year%><br/ ><br/>

    <%= f.label :album_art %><br/>
    <%= f.text_field  :album_art%><br/ ><br/>

    <%= f.label :label %><br/>
    <%= f.text_field :label %><br/ ><br/>

    <%= f.hidden_field :artist_id %><br/ >
        <% if !!album.artist && album.songs.present? && current_user == album.artist%>
        <p><%= button_to 'Delete Album',  album,  method: :delete %><p>
            <% album.songs.each do |song| %>
            <div>
                <h4><%= link_to "edit #{song.title}", edit_artists_album_song_path(album, current_user,song) %></h4>
                <p><%= song.content %></p>
                <p><%= button_to 'Delete Song',  song,  method: :delete %><p>
            <div><br/>
            <% end %>
        <% end %>
        <h4>songs</h4>
        <div class="songs">
            <%= f.fields_for :songs do |song|%>
                <%= render 'song_fields', f: song %>
            <% end %>
        </div>




    <%# <%= link_to_add_association 'Add Song', f, :songs, data: {association_insertion_mode: '.songs', association_insertion_method: :append } %><br/>
    <%= f.submit %><br/>
    
<% end %>