<footer>
    <ul>
        <li><%= link_to "About", "https://github.com/deanpointblank/Spootify" %></li>
        <li><%= link_to "Jobs", '#'  %></li>
        <li><%= link_to "For the Record", '#'  %></li>
    </ul>
    <ul>
        <li><%= link_to "For Artists", artists_library_path %></li>
        <li><%= link_to "For Authors", authors_library_path %></li>
        <li><%= link_to "Developers", '#' %></li>
    </ul>
</footer>