<footer>
    <ul>
        <li><%= link_to "About", "https://github.com/deanpointblank/Spootify"</li>
        <li><%= link_to "Jobs", '#' </li>
        <li><%= link_to "For the Record", '#' </li>
    </ul>
    <ul>
        <li><%= link_to "For Artists", _path</li>
        <li><%= link_to "For Authors", _path</li>
        <li><%= link_to "Developers", _path</li>
    </ul>
</footer>