<nav>
<% if !current_user %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Log in", new_user_session_path %>
<% end %>
</nav>

<nav class="sidenav">
<%= link_to "Home", root_path %>
<%= link_to "Search", '#' %>
<% if !!current_user %>
    <%= link_to "Your Library", user_library_path(current_user, current_user.library) %>
<% else %>
    <%= link_to "Your Library", new_user_registration_path %>
<% end %>
<ul>
Playlists
</ul>

<%= link_to "get the app", "#" %>

<% if !!current_user %>
    <%= link_to "#{current_user.username}", user_path(current_user) %>
<% elsif !!current_user && current_user.artist %>
    <ul>
        <li><%= link_to "upload music", new_aritst_albums_path %> </li>
        <li><%= link_to "view your music", artist_albums_path %> </li>
        <li><%= link_to "check your stats", '#' %> </li>
    </ul>
<% elsif !!current_user && current_user.author %>
    <ul>
        <li><%= link_to "upload Podcast", new_authors_show_path %> </li>
        <li><%= link_to "view your shows", authors_shows_path %> </li>
        <li><%= link_to "check your stats", '#' %> </li>
    </ul>
<% elsif !!current_user && current_user.author %>
    <ul>
        <li><%= link_to "Administrator Panel", '#' %> </li>
    </ul>
<% end %>

</nav>