<nav>
<% if !current_user %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Log in", new_user_session_path %>
<% end %>
</nav>

<nav>
<%= link_to "Home", root_path %>
search
<%= link_to "Your Library", '#'%>
<ul>
Playlists
</ul>

<%= link_to "get the app", "#" %>
<%= link_to "#{current_user.username}", user_path(current_user) %>

</nav>