<nav>
<% if !current_user %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Log in", new_user_session_path %>
<% end %>
</nav>

<nav class="sidenav">
<%= link_to "Home", root_path %>
<%= link_to "Search", '#' %>
<% if !!current_user %>
    <%= link_to "Your Library", user_libraries_path %>
<% else %>
    <%= link_to "Your Library", new_user_registration_path %>
<% end %>
<ul>
Playlists
</ul>

<%= link_to "get the app", "#" %>

<% if !!current_user %>
    <%= link_to "#{current_user.username}", user_path(current_user) %>
<%end%>

</nav>